;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[cider/cider-nrepl "0.16.0"]
  [reagent "0.8.1"]
  [proto-repl "0.3.1"]
  [proto-repl-charts  "0.3.2"]
  [org.clojure/core.async "0.4.474"]
  [cljs-node-io "1.1.2"]]

 :builds
 {:problem1 {:target :node-script
             :output-to "public/js/problem1.js"
             :main problem1.main/main
             :asset-path "/js"}
  :problem2 {:target :node-script
             :output-to "public/js/problem2.js"
             :main problem2.main/main
             :asset-path "/js"}
  :problem3 {:target :node-script
             :output-to "public/js/problem3.js"
             :main problem3.main/main
            :asset-path "/js"}}}
