;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[cider/cider-nrepl "0.16.0"]
  [reagent "0.8.1"]
  [proto-repl "0.3.1"]
  [proto-repl-charts  "0.3.2"]
  [org.clojure/core.async "0.4.474"]
  [thheller/shadow-cljsjs "0.0.16"] 
  [cljs-node-io "1.1.2"]]

 :builds
 {:problem1 {:target :node-script
             :output-to "public/js/problem1.js"
             :main problem1.main/main
             :asset-path "/js"}
  :problem2 {:target :node-script
             :output-to "public/js/problem2.js"
             :main problem2.main/main
             :asset-path "/js"}
  :problem3 {:target :node-script
             :output-to "public/js/problem3.js"
             :main problem3.main/main
             :asset-path "/js"}
  :problem3_test {:target :node-script
                  :output-to "public/js/problem3_test.js"
                  :main problem3.main_test/runner
                  :asset-path "/js"}
  :problem3_viz {:target :browser
                 :output-to "public/js"
                 :asset-path "/js"
                 :modules
                 {:main
                  {:entries [problem3.visualize]}}
                 :devtools
                 {:http-root "public"
                  :http-port 8020}
                 :release {:output-dir "public/js"
                           :asset-path "/js"
                           :compiler-options {:optimizations :advanced}}}}}