;; shadow-cljs configuration
{:source-paths
 ["src", "src/DailyProgrammer/single_symbols_squares"]

 :dependencies
 [[reagent "0.8.1"]
  [proto-repl "0.3.1"]
  [proto-repl-charts  "0.3.2"]
  [org.clojure/core.async "0.4.474"]]

 :builds {:single-symbols-squares
          {:id        :script
           :target    :node-script
           :main      DailyProgrammer.single_symbols_squares/main
           :output-to "out/script.js"}}}
